<header class="navbar navbar-expand navbar-ligth es-navbar">
  <a class="navbar-brand mr-0 mr-md-2 py-0" [routerLink]="['/']">
    <img [src]="'../assets/img/escape2.png'" alt="escape logo" >
  </a> 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <span class="navbar-text py-0 es-navbar-text tech">
        <span id="power">powered by </span><span id="tech">tech.</span><span id="research">research</span>
    </span>
  </div>
</header>

<!--  <header class="header d-flex justify-content-between">
  <img class="logo" [src]="'../assets/img/escape2.png'" alt="escape logo">
  <span class="tech"><span id="power">powered by </span><span id="tech">tech.</span><span id="research">research</span></span>
</header>
 -->

<div class="container-fluid">
  <div class="row">
    <!-- MENU -->
    <nav class="col-2 pt-3 es-sidebar">
        <ul class="nav nav-light flex-column">
          <li class="es-nav-header">Navigation</li>
          <li class="nav-item">
            <a [routerLink]="['/']" class="nav-link"><fa-icon [icon]="faHome"></fa-icon> Accueil</a>
          </li>
          <li class="nav-item"> 
            <a [routerLink]="['/CurrentTasks']" class="nav-link"><fa-icon [icon]="faTasks"></fa-icon> Tâches en cours</a>
          </li>
          <li class="nav-item"> 
            <a [routerLink]="['/RecentTasks']" class="nav-link"><fa-icon [icon]="faList"></fa-icon> Dernières tâches</a>
          </li>
        </ul>
        <!--h5 class="menu-header">Erreurs</h5-->
        <ul class="nav nav-light flex-column">
          <li class="es-nav-header">Erreurs</li>
          <li class="nav-item">
            <a [routerLink]="['/Erreurs_EditionC']" class="nav-link">EditionC</a>
          </li>
          <li class="nav-item"> 
            <a [routerLink]="['/ErrorsExtractTextPdf']" class="nav-link">ExtractTextPDF</a>
          </li>
          
          <li class="es-nav-header">...</li>
          <li class="nav-item">
            <a [routerLink]="['/News']" class="nav-link"><fa-icon [icon]="faRss"></fa-icon> News</a>
          </li>
        </ul>
    </nav>

    <!-- CONTENT -->
    <main class="col-10 es-main">
        <router-outlet></router-outlet>
    </main>
  </div>
</div>



