<header class="navbar navbar-expand-lg navbar-ligth">
  <a class="navbar-brand" [routerLink]="['/']">
    <img [src]="'../assets/img/escape2.png'" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!--li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li-->
    </ul>
    <ul class="navbar-text mr-right">
      <!--img src="img/techresearch.png"></img-->
      <div class="tech"><span id="power">powered by </span><span id="tech">tech.</span><span id="research">research</span></div>
    </ul>
  </div>
</header>

<div class="container-fluid">
  <div class="row">
    <!-- MENU -->
    <nav class="col-2 menu">
        <ul class="nav nav-light flex-column">
          <li class="nav-header">Navigation</li>
          <li class="nav-item">
            <a [routerLink]="['/']" class="nav-link"><fa-icon [icon]="faHome"></fa-icon> Accueil</a>
          </li>
          <li class="nav-item"> 
            <a [routerLink]="['/CurrentTasks']" class="nav-link"><fa-icon [icon]="faTasks"></fa-icon> Tâches en cours</a>
          </li>
          <li class="nav-item"> 
            <a [routerLink]="['/RecentTasks']" class="nav-link"><fa-icon [icon]="faList"></fa-icon> Dernières tâches</a>
          </li>
        </ul>
        <!--h5 class="menu-header">Erreurs</h5-->
        <ul class="nav nav-light flex-column">
          <li class="nav-header">Erreurs</li>
          <li class="nav-item">
            <a href="index.php?page=Erreurs_EditionC" class="nav-link">EditionC</a>
          </li>
          <li class="nav-item"> 
            <a [routerLink]="['/ErrorsExtractTextPdf']" class="nav-link">ExtractTextPDF</a>
          </li>
          
          <li class="nav-header">...</li>
          <li class="nav-item">
            <a href="index.php?page=News" class="nav-link"><fa-icon [icon]="faRss"></fa-icon> News</a>
          </li>
        </ul>
    </nav>

    <!-- CONTENT -->
    <main class="col-10">
        <router-outlet></router-outlet>
    </main>
  </div>
</div>



